<br><br><br><br><br>
<center><h3>Please enter your dates and click request.</h3></center>
<br><br>
<center><ul>
  <% @rooms.each do |room| %>
  <%= room.name %><br/>
  Description:
  <%= room.description %><br/>
  <% end %>
  </ul>
  <br><br></center>

<form action="/rooms/request" align="center" method="post">
<label for="Check in Date">Check In</label>
Date: <input type="date" name="bookfrom">
<label for="Check out Date">Check Out</label>
Date: <input type="date" name="bookto">
<input type="submit" value="Request">
</form>
