<!doctype html>
<html>
  <head>
    <title>MakersBnB</title>
    <link href="/base.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="header">MakersBnB - <%= @title %></div>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>