<!doctype html>
<html>
  <head>
    <title>MakersBnB</title>
    <link href="/base.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="header">
      <a href="/">MakersBnB</a>
    </div>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>