<form action="/available" method="post">
  <input type="text" name="new_room" placeholder="Name of room" />
  <input type="text" name="description" placeholder="Describe your room..." />
  <input type="text" name="price" placeholder="Price" />
  <input type="submit" value="Submit" />
</form>