<form action="/available" method="post">
  <input type="text" name="new_room" placeholder="Name of room" />
  <input type="text" name="description" placeholder="Describe your room..." />
  <input type="text" name="price" placeholder="Price" />
    Available From
  <input type="date" name="datefrom" value="Date.today" min="2022-01-01" max="2022-12-31" />
    Available To
  <input type="date" name="dateto" value="Date.today" min="2022-01-01" max="2022-12-31" />
  <input type="submit" value="Submit" />
</form>