<form action="/sign-in" method="post">
  <input type="text" name="email" placeholder="E-Mail:" /><br>
  <input type="password" name="password" placeholder="Password:" /><br>
  <br><br>
  <input type="submit" value="Sign In" /><br>
</form>