Welcome to Makers BnB!<br/>
<a href='/rooms/new'>Make new room</a><br/>
Here's what's currently available:<br/>
<ul>
  <% @rooms.each do |room| %>
  <li><%= room.name %><br/>
  Description:<br/>
  <%= room.description %><br/>
  Price:<br/>
  £<%= room.price %><br/>
  <form action="/rooms/request">
  <input type="submit" value="Request">
  </a>
  </li>
  <% end %>
  </ul>
  