<% if @registered %>
  <h1>Thank you for registering - please log in</h1>
<% end %>
<% if @user %>
  <h1>You are signed-in, <%= @user.email %></h1>
<% end %>
<form action="/sessions" method="post">
  <input type="text" name="email" placeholder="E-Mail:" /><br>
  <input type="password" name="password" placeholder="Password:" /><br>
  <br><br>
  <input type="submit" value="Sign In" /><br>
</form>
<br>
<br>
<form action="/sessions/delete" method="post">
  <input type="submit" value="logoff" />
</form>