<% 
  messages = {
    status_registered: 'Thank you for registering - please log in',
    error_wrong_password: 'Incorrect password',
  }
  flash.each do |type, message_id|
    if messages[message_id]
%>
<h1><%= messages[message_id] %></h1>
<%  
    end
  end
%>
<form action="/sessions" method="post">
  <input type="text" name="email" placeholder="E-Mail:" /><br>
  <input type="password" name="password" placeholder="Password:" /><br>
  <br><br>
  <input type="submit" value="Sign In" /><br>
</form>
<br>
<br>
<form action="/sessions/delete" method="post">
  <input type="submit" value="logoff" />
</form>